.fix{
    width: 400px;
    height: 100px;
    border-radius: 20px;
    border: 8px solid red;
    background-color: greenyellow;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0px;
    left: 35%;
    box-shadow: 5px 10px purple;
}
.fixer{
    
    font-weight: 700;
    color:darkred;
    display: inline-block;
    text-align: center;
    font-style: italic;
    
}
.container-heading{
    display: flex;
    justify-content: center;
}
.heading{
    border: 5px solid red;
    width: 400px;
    text-align: center;
    color: palevioletred;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px purple;
    text-shadow: 2px 2px purple;
}
.container2{
    border: 8px solid green;
    
}
.container-cards{
    display: flex;
    justify-content: space-between;
    
}
.card{
    width: 200px;
    height: 200px;
    border: 5px solid red;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: indigo;
    background-color: white;
    margin-bottom: 100px;
    text-shadow: 2px 2px #f334ac;
    box-shadow: 5px 10px purple;

}
.submit{
    border: 1px solid black;
    background-color: red;
    border-radius: 40%;
    height: 30px;
    width: 100px;
    margin-top: 0px;
    
}
img{
    width: 170px;
    height: 100px;
    margin-top: 45px;
}



.box-container{
    border: 8px solid purple;
    margin-left: 150px;
    margin-right: 150px;
    background-color: green;
    text-align: center;
    
}
.container{
    display: flex;
    font-style: oblique;
}
.heading2{
    font-style: italic;
    text-align: center;
    font-size: 30px;
}
.upper{
    border: 5px solid green;
    background-color: lightgoldenrodyellow;
    width: 509px;
    height: 300px;
    text-align: center;
    font-size: 18px;
}
.lower{
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    height: 500px;
    word-wrap: break-word;
    font-size: 18px;
    font-style: oblique;

}